data:
  features_dir: /home/infres/vmorozov/Misc/data/climate_data_files/ECMWF
  feature_file_template: "{variable}/{variable}_*.zarr"
  target_dir: climate_data/target_reg/wind
  target_file_template: "target_wind_gust_p95_{year}.zarr"
  target_var: target_wind_gust_p95
  latitude_range: [40.0, 60.0]
  longitude_range: [30.0, 120.0]
  train_years: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
  test_years: [2022, 2023, 2024]
  sample_fraction: 0.06
  random_seed: 42
  subsampling:
    mode: tail_preserving
    positive_threshold: 21.0
    near_miss_threshold: 18.0
  interpolate: false

features:
- t2m
- tp
- u10
- v10
- msl


feature_engineering:
  enabled: true
  
  temporal:
    month: true
    day_of_year: true
    sin_cos_annual: true
    sin_cos_semiannual: false

  wind_physics:
    enabled: true
    u_var: u10
    v_var: v10

  lag:
    variables:
      - u10
      - v10
      - wind10_speed
      - msl
    lags: [1, 2, 3]

  ewm:
    variables:
      - t2m
      - tp
      - u10
      - v10
      - wind10_speed
      - msl

    spans: [3, 7, 14]

  spatial:
    variables:
      - t2m
      - tp
      - u10
      - v10
      - msl
    window_sizes: [5, 11]
    stats: [mean, std, min, max]

  gradients:
    variables:
      - t2m
      - tp
      - u10
      - v10
      - msl
  temporal_diff:
    variables:
      - t2m
      - msl
      - u10
      - v10
      - wind10_speed
    periods: [1, 2, 3, 7, 14]

  climatology:
    variables:
      - t2m
    path: climate_data/climatology.nc

  wind_chill:
    enabled: true
    temp_var: t2m
    u_var: u10
    v_var: v10

  advection:
    enabled: true
    temp_var: t2m
    u_var: u10
    v_var: v10

  regional:
    variables:
      - t2m
      - u10
      - v10
      - msl

    stats: [mean, std, min, max]

model:
  iterations: 2000
  learning_rate: 0.03
  depth: 6
  loss_function: RMSE
  eval_metric: RMSE
  random_seed: 42
  task_type: CPU
  verbose: 10
  l2_leaf_reg: 3.0
  # early_stopping_rounds: 50  

training:
  validation_size: 0.1
  shuffle: false

output:
  model_path: artifacts/wind_reg/wind_reg_catboost.cbm
  predictions_dir: artifacts/wind_reg/predictions

binarization:
  enabled: true
  threshold_file: None
  threshold_val: 21.0
  operator: "greater"
  threshold_optimization: false 

# Compare binarized regression predictions with external binary target
binary_comparison:
  enabled: true
  target_dir: "climate_data/target/target_fg10_north"
  target_file_template: "binary_daily_data_fg10_21_{year}.nc"
  target_var: "fg10"

# Sample weights for extreme temperatures
# More extreme anomalies get higher weight during training
# Note: Too aggressive weights can cause overprediction of extremes
sample_weights:
  weight_normal: 1.0          
  weight_moderate: 3.0         
  weight_extreme: 6.0          
  weight_very_extreme: 8.0     
  threshold_moderate: 15.0
  threshold_extreme: 21.0
  threshold_very_extreme: 25.0
