data:
  features_dir: /home/infres/vmorozov/Misc/data/climate_data_files/ECMWF
  feature_file_template: "{variable}/{variable}_*.zarr" # Pattern to find files, though load_climate_data will handle it
  target_dir: climate_data/target/target_cold_waves_span_30_threshold_7
  target_file_template: "extemp_minus_7_{year}.nc" # Keep target as is for now
  target_var: extemp_minus
  latitude_range: [40.0, 60.0]
  longitude_range: [30.0, 120.0]
  train_years: [2017, 2018, 2019, 2020, 2021, 2022]
  test_years: [2022, 2023, 2024]
  sample_fraction: 0.1
  random_seed: 42
  interpolate: false

features:
- t2m
- d2m
- tp
- u10
- v10
- geopotential_h00_lvl850
- geopotential_h00_lvl1000
- u_component_of_wind_h00_lvl850
- u_component_of_wind_h00_lvl1000
- temperature_h00_lvl850
- temperature_h00_lvl1000
- v_component_of_wind_h00_lvl850
- v_component_of_wind_h00_lvl1000

# Feature engineering configuration
feature_engineering:
  enabled: true
  
  # Temporal/seasonality
  temporal:
    month: true
    day_of_year: true
    sin_cos_annual: true
    sin_cos_semiannual: false
  
  # Lags
  lag:
    variables:
      - t2m
      - u10
      - v10
      - tp
      - geopotential_h00_lvl850
      - u_component_of_wind_h00_lvl850
      - temperature_h00_lvl850
      - v_component_of_wind_h00_lvl850
    lags: [1, 3, 7]

  # EWM
  ewm:
    variables:
      - t2m
      - tp
      - d2m
      - u10
      - v10
      - geopotential_h00_lvl850
      - u_component_of_wind_h00_lvl850
      - temperature_h00_lvl850
      - v_component_of_wind_h00_lvl850
      - geopotential_h00_lvl1000
      - u_component_of_wind_h00_lvl1000
      - temperature_h00_lvl1000
      - v_component_of_wind_h00_lvl1000
    spans: [3, 7, 14, 30]

  # Spatial stats
  spatial:
    variables:
      - t2m
      - d2m
      - tp
      - u10
      - v10
      - geopotential_h00_lvl850
      - u_component_of_wind_h00_lvl850
      - temperature_h00_lvl850
      - v_component_of_wind_h00_lvl850
      - geopotential_h00_lvl1000
      - u_component_of_wind_h00_lvl1000
      - temperature_h00_lvl1000
      - v_component_of_wind_h00_lvl1000
    window_sizes: [5, 11]
    stats: [mean, std]

  # Gradients
  gradients:
    variables:
      - t2m
      - d2m
      - tp
      - u10
      - v10
      - geopotential_h00_lvl850
      - u_component_of_wind_h00_lvl850
      - temperature_h00_lvl850
      - v_component_of_wind_h00_lvl850
      - geopotential_h00_lvl1000
      - u_component_of_wind_h00_lvl1000
      - temperature_h00_lvl1000
      - v_component_of_wind_h00_lvl1000

  # Temporal diff
  temporal_diff:
    variables:
      - t2m
      - d2m
      - tp
      - u10
      - v10
      - geopotential_h00_lvl850
      - u_component_of_wind_h00_lvl850
      - temperature_h00_lvl850
      - v_component_of_wind_h00_lvl850
      - geopotential_h00_lvl1000
      - u_component_of_wind_h00_lvl1000
      - temperature_h00_lvl1000
      - v_component_of_wind_h00_lvl1000
    periods: [1, 3, 7, 14, 30]

    climatology:
    variables:
      - temperature_h00_lvl1000
      - temperature_h00_lvl850
    path: climate_data/climatology.nc

  wind_chill:
    enabled: true
    temp_var: temperature_h00_lvl1000
    u_var: u_component_of_wind_h00_lvl1000
    v_var: v_component_of_wind_h00_lvl1000

  advection:
    enabled: true
    temp_var: temperature_h00_lvl1000
    u_var: u_component_of_wind_h00_lvl1000
    v_var: v_component_of_wind_h00_lvl1000


  regional:
    variables:
      - temperature_h00_lvl1000
      - geopotential_h00_lvl1000
    stats: [mean, std, min, max]


label_smoothing:
  enabled: true
  temporal_sigma: 1.5
  temporal_radius: 3
  spatial_sigma: 1.0
  spatial_radius: 2
  max_smooth_value: 1.0
  min_smooth_value: 0.0

model:
  iterations: 50
  l2_leaf_reg: 5
  learning_rate: 0.01
  depth: 8
  learning_rate: 0.01
  depth: 8
  loss_function: Logloss
  eval_metric: F1
  random_seed: 42
  task_type: CPU
  # decision_threshold: 0.5
  verbose: 10
  # bootstrap_type: Bayesian
  # bagging_temperature: 1.14
  use_class_weights: true
  class_weight_ratio: 6.14
  # grow_policy: SymmetricTree
  # min_data_in_leaf: 77
training:
  validation_size: 0.2
  shuffle: false
  class_weights: null

output:
  model_path: artifacts/coldwave/coldwave_catboost_climate.cbm
  predictions_dir: artifacts/coldwave/predictions_climate
