data:
  features_dir: /home/infres/vmorozov/Misc/data/climate_data_files/ECMWF
  feature_file_template: "{variable}/{variable}_*.zarr"
  target_dir: climate_data/target_reg/cold_waves
  target_file_template: "target_temperature_p05_{year}.zarr"
  target_var: target_temperature_p05
  latitude_range: [40.0, 60.0]
  longitude_range: [30.0, 120.0]
  train_years: [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
  test_years: [2022, 2023, 2024]
  sample_fraction: 0.06
  random_seed: 42
  interpolate: false

features:
- t2m
- tp
- u10
- v10
- msl
- sd


feature_engineering:
  enabled: true
  
  temporal:
    month: true
    day_of_year: true
    sin_cos_annual: true
    sin_cos_semiannual: false

  # lag:
  #   variables:
  #     - t2m
  #     - u10
  #     - v10
  #     - tp
  #     - msl
  #   lags: [1, 2, 3, 5, 7]

  ewm:
    variables:
      - t2m
      - tp
      - u10
      - v10
      - msl
      - sd

    spans: [3, 7, 14]

  spatial:
    variables:
      - t2m
      - tp
      - u10
      - v10
      - msl
      - sd
    window_sizes: [5, 11]
    stats: [mean, std, min, max]

  gradients:
    variables:
      - t2m
      - tp
      - u10
      - v10
      - msl
      - sd
  temporal_diff:
    variables:
      - t2m
      - msl
      - sd
    periods: [1, 3, 7, 14]
  
  climatology:
    variables:
      - t2m
    path: climate_data/climatology.nc

  wind_chill:
    enabled: true
    temp_var: t2m
    u_var: u10
    v_var: v10

  advection:
    enabled: true
    temp_var: t2m
    u_var: u10
    v_var: v10

  regional:
    variables:
      - t2m
      - u10
      - v10
      - msl
      - sd

    stats: [mean, std, min, max]

model:
  iterations: 2000
  learning_rate: 0.03
  depth: 6
  loss_function: RMSE
  eval_metric: RMSE
  random_seed: 42
  task_type: CPU
  verbose: 10
  l2_leaf_reg: 3.0
  # early_stopping_rounds: 50  

training:
  validation_size: 0.1
  shuffle: false

output:
  model_path: artifacts/coldwave_reg/coldwave_reg_catboost.cbm
  predictions_dir: artifacts/coldwave_reg/predictions

binarization:
  enabled: true
  threshold_file: "climate_data/target_reg/daily_average_cold.nc"
  threshold_val: 12.0
  operator: "less"
  threshold_optimization: false 

# Compare binarized regression predictions with external binary target
binary_comparison:
  enabled: true
  target_dir: "climate_data/target/target_cold_waves_span_30_threshold_7"
  target_file_template: "extemp_minus_7_{year}.nc"
  target_var: "extemp_minus"

# Sample weights for extreme temperatures
# More extreme anomalies get higher weight during training
# Note: Too aggressive weights can cause overprediction of extremes
sample_weights:
  weight_normal: 1.0           # |anomaly| < 5째C
  weight_moderate: 3.0         # 5 <= |anomaly| < 10째C  
  weight_extreme: 6.0          # 10 <= |anomaly| < 15째C (cold/heat wave)
  weight_very_extreme: 8.0     # |anomaly| >= 15째C
  threshold_moderate: 4.0
  threshold_extreme: 7.0
  threshold_very_extreme: 10.0
